*{
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.outer
{
    height: 100%;
    width: 100%;
    background-color: rgb(138, 43, 226);
   display: flex;
   justify-content: center;
   align-items: center;
   border-style: ;

}
.main
{
    width: 50%;
    height: 50%;
    

    background-color: black;
   
    display: flex;
    justify-content: space-around;
    overflow: scroll;


}
#div3
{
    background-color: rgb(126, 126, 21);
    width: 200px;
}
h1
{
    text-align: center;
}
p{
    font-size: 20px;
   
    font-style: oblique;
}